@{
    ViewBag.Title = "Home Page";
}

<div class="home-header">
    <h2 class="home-main-title home-main-text-size2">Welcome to</h2>
    <h1 class="home-main-title home-main-text-size1">Gardener Klondike</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Read Articles</h2>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old.
        </p>
        @Html.ActionLink(">", "Index", "Article", new { area = "" }, new { @class = "btn btn-default width100" })
    </div>
    <div class="col-md-4">
        <h2>Visit Profile</h2>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old.
        </p>
        @Html.ActionLink(">", "Index", "Profile", new { area = "" }, new { @class = "btn btn-default width100" })
    </div>
    <div class="col-md-4">
        <h2>About Website</h2>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old.
        </p>
        @Html.ActionLink(">", "Index", "Article", new { area = "" }, new { @class = "btn btn-default width100" })
    </div>
</div>